services:
   nerdsystembot:
     image: nerdsystembot
     restart: always
     environment:
       TOKEN:
       APPLICATION_ID:
       PREFIX:
       FRONT_CHANNEL:
       WELCOME_CHANNEL:
       BYE_CHANNEL:
       RULE_CHANNEL:
       MUSIC_CHANNEL:
       SYSTEM_ID:
       API_KEY:
       SYSTEM_SERVER:
    volumes:
      - /path/to/songs:/songs
      - /path/to/cookies.txt:/cookies.txt
